body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* navigation menu*/
.nav-color {
    background: linear-gradient(to right, #e30a73, #feae04);
}

h2{
    font-family: 'Playfair Display', serif;
}

/* navbar toggler for mobile device*/
.navbar-toggleicon {
    display: inline-block;
    cursor: pointer;
}

.navbar-toggleicon span {
    position: relative;
    background-color: #fff;
    border-radius: 3;
    display: block;
    height: 3px;
    margin-top: 5px;
    padding: 0;
    transition-duration: .3s;
    width: 30px;
    cursor: pointer;
}

.active {
    border-bottom: 3px solid #fff;
}

.menu-text {
    color: #fff;
}

.menu-text:hover {
    color: #fff;
}

.menu-child {
    color: #e30a73;
}

.menu-child:hover {
    color: #e30a73;
}

.menu-child:active {
    background-color: #e30a73;
    color: #fff;
}

/*form*/
h4 {
    color: #2b044d;
    font-family: 'Nunito', sans-serif;
}

.lg-header{
    color: #2b044d;
    font-family: 'Nunito', sans-serif;
}

.btn-download{
    padding: 10px;
    border-radius: 20px;
    background-color: #e30a73;
    color: white;
}

.btn-download:hover{
    background-color: white;
    color: #e30a73;
    border: 2px splid #e30a73;
}

.btn-download-git{
    padding: 10px;
    border-radius: 20px;
    background-color: #2b044d;
    color: white;
}

.btn-download-git:hover{
    background-color: white;
    color: #2b044d;
    border: 2px solid #2b044d;
}

.main-img{
    height: 380px; border: 2px solid #e30a73; border-radius: 15px;
}

i{
    background: #e30a73;
    padding: 20px;
    border-radius: 50%;
    color: white;
}

.ct-us{
    border-top: 2px solid #e30a73;
    background-color: #f3f5f8;
}

/* footer */

.footer-pane {
    background-color: #f3f5f8;
    border-top: 2px solid #e30a73;
}

.nav-footer {
    color: #e30a73;
}

.nav-footer:hover {
    color: #e30a73;
}


/* media query */

@media screen and (max-width: 500px){
    .lg-header{
        font-size: 30px;
    }

    .logo-footer{
        /* hide image on small device */
        display: none;
    }
}

@media screen and (max-width: 1000px){
    .lg-header{
        font-size: 30px;
    }
    .main-img{
        height: 300px;
    }
}